.header {
  min-height: 100vh;
  background-size: cover;
  background: url("../img/head-bg.jpg") center bottom;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background: url("../img/head-bg@2x.jpg") center bottom;
  }

  padding-top: 30px;
  padding-bottom: 30px;

  .container, .container-fluid {
    min-height: inherit;
  }

  &__wrap {
    min-height: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    color: #fff;
    line-height: 1;
  }

  p {
    font-size: 22px;
    color: $white;

    @media(max-width: $xl) {
      font-size: 18px;
    }

    @media(max-width: $lg) {
      font-size: 16px;
    }
  }

  .lineitems {
    width: 81%;
    margin-top: 33px;

    @media(max-width: $xl) {
      width: 100%;
    }

    @media(max-width: $md) {
      width: 340px;
      margin-top: 10px;
    }

    @media(max-width: $sm) {
      width: 280px;
    }

    &__section {
      width: 33.333%;

      @media(max-width: $md) {
        width: 100%;
      }
    }
  }

  .ss-main {
    width: 100%;

    .ss-single-selected {
      @media(max-width: $md) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    .ss-content {
      margin-top: 11px;

      @media(max-width: $md) {
        margin-top: 0;
      }
    }
  }
}
