header.header#home
    .container-fluid
        .header__wrap
            h1 Acura auto auction
            p Buying a car from private seller is fun and interesting with How To Sell Vehicle

            form(action="/" method="post").lineitems
                .lineitems__content
                    .lineitems__section
                        select(name="selectby")
                            option Select by make
                            option Select by make 2
                            option Select by make 3
                            option Select by make 4
                            option Select by make 5
                    .lineitems__section
                        select(name="selectmodel" disabled)
                            option Select model
                            option Select model 2
                            option Select model 3
                            option Select model 4
                            option Select model 5
                    .lineitems__section
                        select(name="selectstate")
                            option Select state
                            option Select state 2
                            option Select state 3
                            option Select state 4
                            option Select state 5

                .lineitems__btn
                    button
                        +svg("search")
