.fourstep
    .fourstep__wrap
        .fourstep__info
            .fourstep__info-wrap
                h3 Four steps to sell a car

                ul
                    li
                        i
                            +svg("people")
                        b REGISTER
                        em No fees. Fast and easy. Fill in the form and you’re done.

                    li
                        i
                            +svg("auto")
                        b FIND A CAR
                        em Just select the make, the model and the location.
                    li
                        i
                            +svg("build")
                        b bid now
                        em Every bid you make brings you closer to winning a car.
                    li
                        i
                            +svg("win")
                        b win a car
                        em At the end of the auction the highest bidder becomes the winner.

                a.btn
                    span Register

        .fourstep__img
            img(src="img/step.jpg" srcset="img/step@2x.jpg" alt="step")
