.perfectcar
    .container-fluid
        .perfectcar__wrap
            h2 Perfect cars for you!

            form(action="/" method="post").lineitems
                .lineitems__content
                    .lineitems__section
                        .lineitems__radio
                            input(type="radio" name="radio-group" id="radio-1")
                            label(for="radio-1")
                                span Closing Soon

                    .lineitems__section
                        .lineitems__radio
                            input(type="radio" name="radio-group" id="radio-2")
                            label(for="radio-2")
                                span New Arrivals

                    .lineitems__section
                        .lineitems__radio
                            input(type="radio" name="radio-group" id="radio-3")
                            label(for="radio-3")
                                span No Bids

                    .lineitems__section
                        .lineitems__radio
                            input(type="radio" name="radio-group" id="radio-4")
                            label(for="radio-4")
                                span Buy it Now


                .lineitems__btn
                    button
                        span Search for a car
                        +svg("search")

            .perfectcar__grid
                .row
                    .col.col-lg-3.col-md-4.col-sm-6
                        .carblock
                            picture
                                .label 6 day (s), 11: 02 : 03 Left
                                img(src="img/img-1.jpg" srcset="img/img-1@2x.jpg 2x" alt="img")

                            .carblock__info
                                span 2002 BMW 5 SERIES
                                b $ 500,000,000

                                a.btn
                                    span BID NOW

                                ul
                                    li
                                        span 2012
                                    li
                                        span Automatic
                                    li
                                        span White
                                    li
                                        span 75146

                    .col.col-lg-3.col-md-4.col-sm-6
                        .carblock
                            picture
                                .label 6 day (s), 11: 02 : 03 Left
                                img(src="img/img-2.jpg" srcset="img/img-2@2x.jpg 2x" alt="img")

                            .carblock__info
                                span 2002 BMW 5 SERIES
                                b $ 500,000,000

                                a.btn
                                    span BID NOW

                                ul
                                    li
                                        span 2012
                                    li
                                        span Automatic
                                    li
                                        span White
                                    li
                                        span 75146

                    .col.col-lg-3.col-md-4.col-sm-6
                        .carblock
                            picture
                                .label 6 day (s), 11: 02 : 03 Left
                                img(src="img/img-3.jpg" srcset="img/img-3@2x.jpg 2x" alt="img")

                            .carblock__info
                                span 2002 BMW 5 SERIES
                                b $ 500,000,000

                                a.btn
                                    span BID NOW

                                ul
                                    li
                                        span 2012
                                    li
                                        span Automatic
                                    li
                                        span White
                                    li
                                        span 75146

                    .col.col-lg-3.col-md-4.col-sm-6
                        .carblock
                            picture
                                .label 6 day (s), 11: 02 : 03 Left
                                img(src="img/img-4.jpg" srcset="img/img-4@2x.jpg 2x" alt="img")

                            .carblock__info
                                span 2002 BMW 5 SERIES
                                b $ 500,000,000

                                a.btn
                                    span BID NOW

                                ul
                                    li
                                        span 2012
                                    li
                                        span Automatic
                                    li
                                        span White
                                    li
                                        span 75146


            .perfectcar__btn
                a.btn.--white.--middle
                    span see more
