.infoblock
    .container-fluid
        .infoblock__wrap
            .row
                .infoblock__img.col.col-md-12.col-lg-8
                    img(src="img/placeholder.jpg" srcset="img/placeholder@2x.jpg 2x" alt="img")
                    img(src="img/banner-img.jpg" srcset="img/banner-img@2x.jpg 2x" alt="img")

                .infoblock__info.col.col-md-12.col-lg-4
                    p Welcome to Nissan Auto Auction, that is one of the most reliable used car auctions. If you are looking for a certified pre owned Nissan, new Nissan, Nissan 300zx, Nissan Rogue, Nissan Altima or other Nissan models, consider visiting our website to check out our amazing selection of certified cars, affordable used cars, quality used cars. You can also check our most attractive offers and find your dream car at a good price. Read our customers' reviews and see what they are saying about us! You'll see that we are a trusted public auction serving car enthusiasts. Look no further than Nissan Auto Auction, when you want to purchase reliable used cars. If you are looking for repo cars or pickup trucks in California, Florida, Alabama, New York, Texas, or in other states, check out our used car inventory today. We are confident that our customers will appreciate our services that we provide.
