@font-face {
    font-family: 'Arca Majora 3';
    src: local('Arca Majora 3 Heavy'), local('ArcaMajora3-Heavy'),
        url('ArcaMajora3-Heavy.woff2') format('woff2'),
        url('ArcaMajora3-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arca Majora 3';
    src: local('Arca Majora 3 Bold'), local('ArcaMajora3-Bold'),
        url('ArcaMajora3-Bold.woff2') format('woff2'),
        url('ArcaMajora3-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

