footer.footer
    .container-fluid
        .infoblock
            .row
                .infoblock__img.col.col-sm-12.col-md-8
                    img(src="img/placeholder.jpg" srcset="img/placeholder@2x.jpg 2x" alt="img")
                    img(src="img/banner-img.jpg" srcset="img/banner-img@2x.jpg 2x" alt="img")

                .infoblock__info.col.col-sm-12.col-md-4
                    p Welcome to Nissan Auto Auction, that is one of the most reliable used car auctions. If you are looking for a certified pre owned Nissan, new Nissan, Nissan 300zx, Nissan Rogue, Nissan Altima or other Nissan models, consider visiting our website to check out our amazing selection of certified cars, affordable used cars, quality used cars. You can also check our most attractive offers and find your dream car at a good price. Read our customers' reviews and see what they are saying about us! You'll see that we are a trusted public auction serving car enthusiasts. Look no further than Nissan Auto Auction, when you want to purchase reliable used cars. If you are looking for repo cars or pickup trucks in California, Florida, Alabama, New York, Texas, or in other states, check out our used car inventory


        .footer__wrap
            .row
                .footer__left.col.col-sm-12.col-md-8
                    .row
                        .footer__item.footer__nav.col.col-sm-4
                            .footer__item-head
                                h4 navigation

                            ul
                                li
                                    a(href="#HOME") HOME
                                li
                                    a(href="#AUCTIONS") AUCTIONS
                                li
                                    a(href="#BLOG") BLOG
                                li
                                    a(href="#CONTACT") CONTACT US

                        .footer__item.footer__about.col.col-sm-8
                            .footer__item-head
                                h4 about us

                            p Interested in selling your car but you have no time for it? Or you want to purchase a vehicle for your family, but you do not know where to find a reliable car?
                            form(action="/" method="post").lineitems.--min
                                .lineitems__content
                                    .lineitems__section
                                        input(type="email" name="email" placeholder="Enter your email")
                                .lineitems__btn
                                    button
                                        span subscribe

                .footer__right.col.col-sm-12.col-md-4
                    .footer__item
                        .footer__item-head
                            h4 Powered by
                            picture
                                img(src="img/repokar.png" srcset="img/repokar@2x.png 2x" alt="IMG")

                        address
                            span 1945 Gardena Ave. Glendale, CA 91204

                            div.line
                                a(href="tel:(800)946-0890") (800) 946-0890
                                span /
                                a(href="tel:(818)696-2115") (818) 696-2115

                            a(href="mailto:auction@repokar.com") auction@repokar.com

                        .social
                            a(href="#facebook")
                                +svg("facebook")
                            a(href="#google")
                                +svg("google")
                            a(href="#blog")
                                +svg("blog")
                            a(href="#youtube")
                                +svg("youtube")
                            a(href="#twitter")
                                +svg("twitter")


        .footer__copyright
            p © 2017. All Rights Reserved. Use of this Web site contitutes acceptance of the Acura auto auction. User Agreement and Privacy Policy.
